<header class="header">
    <div>
        <button class="boton">Películas</button>
        <button class="boton">Series</button>
        <button class="boton">Ingresar ➙</button>
    </div>
</header>

<section class="content">
    <h1 id="titulo">PelisUP!</h1>
    <p id="subtitulo">Plataforma para ver Películas y series 😉</p>
    <div class="buscador">
        <p>Buscar de películas y series</p>
    </div>
    <div class="opciones">
        <button class="btn">Todos</button>
        <button class="btn">Peliculas</button>
        <button class="btn">Series</button>
    </div>
    <div class="imagenes">
        <img class="image" src="imagen1.jpg">
        <img class="image" src="imagen2.jpg">
        <img class="image" src="imagen3.jpg">
        <img class="image" src="imagen4.jpg">
        <img class="image" src="imagen5.jpg">
        <img class="image" src="imagen6.jpg">
        <img class="image" src="imagen7.jpg">
        <img class="image" src="imagen8.jpg">
        <img class="image" src="imagen9.jpg">
        <img class="image" src="imagen10.jpg">
        <img class="image" src="imagen11.jpg">
        <img class="image" src="imagen12.jpg">
        <img class="image" src="imagen13.jpg">
        <img class="image" src="imagen14.jpg">
        <img class="image" src="imagen15.jpg">
        <img class="image" src="imagen16.jpg">
        <img class="image" src="imagen17.jpg">
        <img class="image" src="imagen18.jpg">
        <img class="image" src="imagen19.jpg">
        <img class="image" src="imagen20.jpg">
    </div>
</section>

<footer class="footer">
    <p>Hecho con ♥</p>
</footer>